.titlep{
  text-align: center;
  color: #24445b;
  margin-bottom: 0;
}

.italic {
text-align: center;
font-style: italic;
margin-top: 0;
}

body{
  font-family:  Agency FB, sans-serif; 
  text-align: center;
  display:block;
}

main {
   background-color: #c1d0db;
   line-height: 1.5;
   text-align: center;
   }

figure {
background-color: #ffffff;
justify-content: center;
 }

img {
  padding-top: 1.5rem;
  max-width: 100%;
  display:block;
  margin: auto;
    }

figcaption{
  padding-bottom: 1rem;
  font-size: 15px;
  color: #5b5b5b;
  margin-bottom: 50px;
    }

h2 {
  display: block;
  text-align: left;
  color:#24445b;
  margin: 1rem 5px 1rem 5px;
}

ul {
  text-align: left;
  margin-bottom: 2rem;
}

.endpage {
 text-align: left;
 background-color: #e6e6e6;
 margin: 0;
 border: none;
}

.p {
  margin: 1rem;
}
